body {
    width: 480px;
    height: 520px;
    background-color: #fff;
}

header {
  width: 480px;
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  left: 0;
}

#i_g {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#select_c, #input_c {
  width: fit-content;
}

#select_c select, #input_c input {
  width: 280px;
  height: 30px;
  padding: 0 5px;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 3px;
}

#input_c input {
  width: 120px;
  height: 29px;
  margin-left: 5px;
}

.h_op {display: none;}

#container {
  width: fit-content;
  height: 500px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

#w_p {
  color: rgb(228, 148, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

#wp_img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}